body {
    background-color: rgb(211, 252, 250);
}
h1 {
    color: rgb(100, 106, 219);
    background-color: rgb(160, 222, 207);
}
#parr1 {
    color: rgb(0, 98, 255);
}
#parr2 {
    color: rgb(12, 132, 176);
}
#lista {
    color:rgb(10, 153, 255);
}
