* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.head__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 5rem;
}

.head__figure-img {
    width: 4rem;
}

.main__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

.main__figure-img {
    width: 30rem;
}

footer {
    padding-bottom: 3rem;
}

footer h2 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
}



@media only screen and (max-width: 900px) {
    .head__figure {
        margin: 1rem 0 2rem;
    }
    .head__figure-img {
        width: 3rem;
        
    }

    .main__figure-img {
        padding-top: 20vh;
        width: 17rem;
    }
}