body {
  background: rgb(116, 210, 232);
}

#boton {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  border-radius: 10%;
  border-width: 5px;
  border-color: rgb(128, 74, 20);
  background: rgb(125, 117, 106);
  color: rgb(189, 187, 185);

  position: absolute;
  top: 15px;
  left: 880px;
}

#titulo {
  padding-top: 10px;
  width: 600px;
  height: 50px;
  position: absolute;
  bottom: 260px;
  right: 190px;
  font-weight: bold;
  color: rgb(0, 68, 84);
  font-family: sans-serif;
  font-size: 35px;
  background-color: rgb(128, 183, 196);
  text-align: center;
  border-bottom-width: 7px;
  border-bottom-style: inset;
  border-bottom-color: rgb(0, 104, 128);
}

#inicio {
  position: absolute;
  right: 320px;
  top: 110px;
}

#start {
  position: absolute;
  right: 420px;
  top: 320px;
  font-size: 20px;
  font-weight: bold;
  border-style: inset;
  border-width: 4px;
  border-color: rgb(0, 104, 128);
  background-color: rgb(147, 195, 207);
}

#rules {
  position: absolute;
  right: 415px;
  top: 370px;
  font-size: 20px;
  font-weight: bold;
  border-style: inset;
  border-width: 4px;
  border-color: rgb(0, 104, 128);
  background-color: rgb(147, 195, 207);
}

#fondo{
  width: 600px;
  height: 390px;
  background: rgb(0, 158, 194);
  border-style: groove;
  border-width: 10px;
  border-color: rgb(4, 102, 125);
  position: absolute;
  right: 180px;
  top: 20px;
}
