body {
  background-color: #ffffff;
}

main {
  background-color: #ffffff;
  height: 2200px;
  text-align: center;
}
.container {
  width: 1000px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

#form {
  padding-top: 100px;
  text-align: center;
}
#rodamientos_opciones {
  margin-bottom: 80px;
  padding-top: 10px;
  font-size: 60px;
  width: 350px;
  height: 90px;
  text-align: center;

}
.label {
  font-size: 60px;

}
#menu_consultar_rodamiento {
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;
  width: 800px;
  height: 110px;
}

#menu_consultar_precio {
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;
  width: 530px;
  height: 100px;
}

#menu_calcular_precio {
  text-align: center;
  width: 820px;
  height: 160px;
  margin-bottom: 70px;

  font-size: 90px;
  font-family: 'Karantina', cursive;
  background-color: #e3e3e3;
  border-radius: 10%;
  border-color: #ad8787;
  border-style: groove;
  border-width: 25px;
}
#menu_retirar_rodamiento {
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;
  width: 700px;
}
#boton_historial_ventas {
  text-align: center;
  width: 820px;
  height: 160px;
  margin-bottom: 70px;

  font-size: 90px;
  font-family: 'Karantina', cursive;
  background-color: #e3e3e3;
  border-radius: 10%;
  border-color: #ad8787;
  border-style: groove;
  border-width: 25px;
}
#boton_calcular_rodamientos {
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;
}
#boton_orden_rodamientos {
  text-align: center;
  width: 820px;
  height: 160px;
  margin-bottom: 70px;

  font-size: 90px;
  font-family: 'Karantina', cursive;
  background-color: #e3e3e3;
  border-radius: 10%;
  border-color: #ad8787;
  border-style: groove;
  border-width: 25px;
}
#boton_retirar_rodamientos {
  text-align: center;
  width: 820px;
  height: 160px;
  margin-bottom: 50px;

  font-size: 90px;
  font-family: 'Karantina', cursive;
  background-color: #e3e3e3;
  border-radius: 10%;
  border-color: #ad8787;
  border-style: groove;
  border-width: 25px;
}
#boton_regresar {
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;
  width: 400px;
  height: 100px;
}

#boton_todos_precios {
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;
  width: 630px;
  height: 100px;
}

#menu_consultar_disponibilidad {
  text-align: center;
  width: 820px;
  height: 160px;
  margin-bottom: 70px;

  font-size: 90px;
  font-family: 'Karantina', cursive;
  background-color: #e3e3e3;
  border-radius: 10%;
  border-color: #ad8787;
  border-style: groove;
  border-width: 25px;
}
#respuesta_campo {
  position: relative;
  left: 50px;
  padding-top: 60px;
  padding-bottom: 10px;
  background-color: #0889d4;
  width: 900px;
  height: 150px;
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;

}

#imagen_rodamientos_precios {
  width: 910px;
  height: 430px;
  margin-bottom: 40px;
}

#imagen_rodamientos_ventas {
  width: 950px;
  height: 450px;
  margin-bottom: 40px;
  position: relative;
  right: 0px;

}

#calcular_rodamiento {
  margin-bottom: 40px;
  font-size: 70px;
  text-align: center;

}

.titulo {
  font-size: 115px;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;

  color: #ede8e8;
  text-shadow: -4px 4px #994242,
               -8px 8px #c2682d,
               -12px 12px #a3a305,
               -16px 16px #3c8703,
               -20px 20px #8f0935,
               -24px 24px #6e3a03,
               -28px 28px #0377a1;
}

#rodamientos_portada {
  width: 1000px;
}

#rodamientos_portada_inferior {
  width: 700px;
}
