* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 40vh;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__div-figure-img {
    width: 6rem;
}

.bottom p {
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.2rem;
}