* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main { 
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div-dondaCover-container {
    margin-right: 5rem;
    padding-left: 5vh;
}

.main-div-figcaption {
    margin: 5vh 0 15vh;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.main__div-figure-img {
    width: 22rem;
    height: 22rem;
}

.main__div-p-container {
    width: 25%;
    text-align: left;
    margin-left: 5rem;
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.main-div-p-donda-price {
    margin-bottom: 1.5rem;
}

.main-div-p-donda-description {
    margin-bottom: 3rem;
}


.main-div-p-span-cart {
    position: relative;
    bottom: 12px;
    padding: 0 2.5rem;
}

.main-div-p-span {
    font-family: 'Barlow', sans-serif;
    font-size: 3rem;
    font-weight: 200;
}

.footer__nav-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15vh;
}

.footer__nav-ul li {
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 1rem 5vh;
}

@media only screen and (max-width: 900px) {
    .main { 
        margin-top: 1vh;
        flex-flow: column;

    }

    .main-div-figcaption {
        margin: 5vh 0 5vh;
    }

    .main__div-figure-img {
        width: 13rem;
        height: 13rem;
        margin-bottom: 5vh;
    }
    
    .main-div-dondaCover-container {
        margin-right: 0rem;
        padding-left: 0vh;
    }

    

    .main__div-p-container {
        text-align: center;
        width: 95%;
        margin-left: 0rem;
        
    }

    .main-div-p-span {
        font-size: 3.3rem;
    }

    .main-div-p-span-cart {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        padding: 0.8rem 4rem;
    }

    .footer__nav-ul {
        flex-flow: column;

    }

    .footer__nav-ul li {
        margin: 0.2rem 0;
    }

    .footer__nav-ul li:last-child {
        margin-bottom: 5vh;
    }


}