* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

main {
    margin-top: 5vh;
}

.main__div-letter {
    max-width: 50vw;
    min-width: 50vw;
    margin: 0 auto;
}

.main__div-date {
    font-size: 0.7rem;
}

.main__div-date a {
    color: white;
    text-decoration: none;
}

p {
    color: white;
    font-family: 'JetBrains Mono', monospace;
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

figure img {
    width: 300px;
}

@media only screen and (max-width: 1000px) {
    .main__div-letter {
        max-width: 70vw;
    }
}

@media only screen and (max-width: 450px) {
    main {
        margin-top: 0;
    }
    .main__div-letter {
        max-width: 80vw;
    }

    p {
        line-height: 1rem;
    }

    figure img {
        width: 200px;
    }
}
